@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #4d4d4d;

}

html{
    background-color: white;

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
    position: fixed;
    top: 0;
}
nav button{
    font-size: 24px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}
nav button:hover{
    text-decoration: underline;
}

section{
    height: 95vh;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

section:first-of-type{
    display: flex;
}

button{
    border: none;
    background-color: none;
}

#home{
    flex-direction: column;
}

#home img{
    margin-bottom: 18px;

}

ol{
    display: flex;
    flex-direction: column;
}
ol li{
    margin-top: 16px;
}

#members{
    flex-wrap: wrap;    
}

.member-card{
    min-width: 350px;
    margin: 10px;
    text-align: center;
}

.home-image{
    max-height: 50vh;
}

#games{
    display: flex;
    flex-direction: column;
}
#graphics{
    display:flex;
    flex-direction: column;
}

#graphics iframe{
margin-bottom: 5px;
}

.contact{
    position:absolute;
    bottom: 5px;
}
.illustration-gallery{
    display: flex;
}
.illustration-gallery img{
    max-width: 25vh;
}

